.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.aids{
  font-weight: lighter;
}
.App-pic{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top:3% ;
  object-fit:cover;
  
}
.ph{
  font-weight: lighter;
}
.ab{
  background-color: aqua;
  text-align: left;
}
.edu{
  background-color: aqua;
  text-align: left;
}
.para{
  text-align: left;
  font-weight:400;
}
.be{
  text-align: left;
}
.pu{
  text-align:left;
}
.sslc{
  text-align: left;
}
.py{
  text-align: left;
}
.ja{
  text-align: left;
}
.cc{
  text-align: left;
}
.c{
  text-align: left;
}
.sk{
  text-align: left;
  background-color: aqua;
}
.ach{
  text-align: left;
  background-color: aqua;
}
.oops{
  text-align: left;
}
.pyt{
  text-align: left;
}
.r{
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}